@import "../../styles/variables.scss";

.ingredientListing {
  // background-color: black;
  padding: 10px;

  &__line {
    text-align: left;

    &__remove {
      color: white;
      background-color: red;
      padding: 5px;
      float: right;
      border-radius: 0.5em;
    }

    &__add {
      color: white;
      background-color: green;
      padding: 5px;
      float: right;
      border-radius: 0.5em;
    }
  }
}

button .addButton {
  background: $color-bg;
  border-radius: 0px;
  border: 11px solid $color-text;
  color: inherit;
  font-size: 2em;
  font-weight: 100;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 5px 5px 5px;
  transition: .2s;
  min-width: 50px;

  &:hover,
  &:active,
  &:disabled {
    background: $color-text;
    color: $color-bg;
  }

  &:active {
    outline: 2px solid $color-text;
  }

  &:focus {
    border: 1px solid $color-text;
  }

  & + button {
    margin-left: 3px;
  }
}
