@import "variables.scss";

body {
  align-items: center;
  background-color: $color-bg;
  display: flex;
  font-family: Helvetica Neue, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  color: $color-text;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.leftPane {
  grid-row: 1 1;
}

.middlePane {
  grid-row: 2 2;
}

.rightPane {
  grid-row: 3 3;
}
