.recipeListing {
  &__label {
    &__text {
      font-size: 18px;
      font-weight: bold;
      color: brown;
      font-family: "Goudy Bookletter 1911";
      font-style: italic;
    }

    &__star {
      font-size: 34px;

      float: right;
    }

    .isFavoriteDrink {
      color: yellow;
    }

    .isNotFavoriteDrink {
      color: white;
    }

  }

  &__instructions {
    font-size: 15px;
    color: white;

    &__line {
      margin: 12px;
      text-align: left;
    }
  }

  &__ingredients {
    color: white;

    &__line {
      .garnish {
        color: #bfffbf;
      }

      .amount {
        color: #ffbfbf;
      }

      margin: 10px;
    }
  }
}
